body {
  width: 100%;
  height: 100%;
  background-color: #0F1217;
  overflow: hidden;
  text-align: center;
}

h1 {
  z-index: 100;
  position: fixed;
  top: 10vh;
  width: 100vw;
  text-align: center;
  font-family: 'Convergence';
  font-size: 42px;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 700;
  line-height: 46.2px;
  color: white;
}

svg {
 width: 100%;
 height: 100%;
 visibility: hidden;

}

.hit{
cursor:pointer;
}

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}
